[Desktop Entry]
Type=Application
Name=АЕГИС
Comment=Private messenger
Exec=AppRun
Icon=aegis
Categories=Network;InstantMessaging;
Terminal=false
StartupWMClass=org.securemail.ui.Launcher
X-AppImage-Version=1.1.1
